

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background: #f8f8f8;
}
.box {
    position: absolute;
   
    width: 57%;
    border: 3px solid #FEFCFF;
    padding: 10px;
    
    top: 90px;
    left: 20%;
    height: 73vh;
    border-radius: 1em;
    background:#FEFCFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
  }
  
#signupp{
           font-weight: bolder;
           font-size: 40px;
           font-family: Arial;
}
  
  .signup{

    
    position: absolute;
    width: 40%;
    height: 60vh;
    border: 3px solid white;
    right: 8%;
    top: 20%;

  }
  .picture{
    position: absolute;
    height: 40vh;
    width: 105%;
    
    right: 120%;
    top: 2%;
   background-image: url("signin.webp");
    background-repeat: no-repeat;
    background-size: contain;
    

    

  }
  .inpt{
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    font-size: 1em;
    background:#FEFCFF;
    border-color:gray;
    border-width: 1px;
  }
  .inpt:focus {
    outline: none;
  }
  .inpts{
    margin-top: 11%;
    background:#FEFCFF;
  }

  .but{
    position: absolute;
    margin-top: 10%;
    left: 0%;

  }

  
/* CSS */
.butt {
    align-items: center;
    background-clip: padding-box;
    background-color:blueviolet;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .butt,
  .butt{
    background-color:blueviolet;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .butt {
    transform: translateY(-1px);
  }
  
  .butt {
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
  .signin{
      position: absolute;
      top:80%;
      left: 10%;
      font-size: 1.5em;
  }

