<link rel="stylesheet" href="/css/signin.css">

    <div class="box">
        <div class="signin">
            <a href="/users/signup">Create an account</a>
        </div>
   
        <div class="signup">
            <h2 id="signupp">Sign in</h2>
            <form action="/users/create_session" method="post">
               
                <div class="inpts"><input type="email" name="email" required placeholder="Your Email" class="inpt"></div>
               <div class="inpts"> <input type="password" name="password" required placeholder="Enter Pssword" class="inpt"></div>
            
               <div class="but"> <input type="submit" value="Sign in" class="butt">
            </form>
        </div>
        <div class="picture">
            
        </div>
        
  
    </div>
    
